<div class="d-flex flex-column justify-content-center mt-2">
  
  <button [routerLink]="['Employee/New']" id="AddEmployee" class="button btn-primary col-4 ">
    Add Employee
  </button>

<table id="MyTable" class="col-10 MyDiv table  table-dark m-auto">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col m-auto "><span>Actions</span></th>
      </tr>
    </thead>
    <tbody *ngIf="allEmployees">
      <tr  *ngFor ="let employee of allEmployees">
        
        <th scope="row">{{employee.EmployeeId}}</th>
        <td>{{employee.FirstName+ ' ' + employee.LastName}}</td>
        <td>{{employee.DepartmentName }}</td>
        <td class="d-flex justify-content-around">
            <button [routerLink]="['Employee/',employee.EmployeeId]" class="button">
                <i class="fas fa-info-circle"></i>
            </button>
            <button [routerLink]="['Employee/Edit/',employee.EmployeeId]" class="button">
                <i class="fas fa-edit"></i>
            </button>
            <button (click)="OnDelete(employee)" class="button">
                <i class="fas fa-trash"></i>
            </button>


        </td>
      </tr>
     
    </tbody>
  </table> 
</div>
