
<h3 style="margin:50px auto; " class="col-10 button button-primary">
  Edit Employee 
</h3>
<div *ngIf="myEmployee" style="margin:auto;" class="col-10">
  <form [formGroup]="EditEmployeeForm"  (ngSubmit)="onSubmit($event)">

    <div class="form-group">
      <input type="text" hidden [ngModel]="DepartmentID" formControlName="DepartmentId" class="form-control" id="fName">
    </div>
    <div class="form-group">
      <input type="text" hidden [ngModel]="myEmployee.EmployeeId" formControlName="EmployeeId" class="form-control" id="EmployeeId">
    </div>



    <div class="form-group">
      <label for="FirstName">First Name:</label>
      <input type="text" formControlName="FirstName" class="form-control" id="FirstName" [(ngModel)]="myEmployee.FirstName">

    </div>
   
    <div class="form-group">
      <label for="LastName">Last Name</label>
      <input formControlName="LastName"  required minlength="2" maxlength="10" name="LastName" class="form-control" type="text"
        [(ngModel)]="myEmployee.LastName" />
        
    </div>


    <div class="form-group">
      <label for="PhoneNumber">Phone Number</label>
      <input formControlName="PhoneNumber" required minlength="11" maxlength="11" name="PhoneNumber" class="form-control" type="number" [(ngModel)]="myEmployee.PhoneNumber" />
     
    </div>

    

    <div class="form-group">
      <label for="BirthDate">Birth Date</label>
      <input formControlName="BirthDate" name="BirthDate" class="form-control" type="date" [ngModel]="myEmployee.BirthDate| date:'yyyy-MM-dd'" (ngModelChange)="dt=$event" />
    </div>
   

    <div class="form-group">
      <label for="DepartmentName">Department Name</label>
      <select formControlName="DepartmentName" class="custom-select" (change)="onChange($event.target.value)" name="DepartmentName">
          <option *ngFor="let department of myDepartments" [attr.selected]="department.DepartmentName==myEmployee.DepartmentName ? true : null"   >{{department.DepartmentName}} </option>
          
     </select>
    </div>
    <input class="btn btn-primary" type="submit" value="Save" />
    
  </form>
</div>